<div class="wrapper">
  <h1>Tasks: </h1>
  <div *ngIf="tasks">
    <div *ngFor="let item of tasks">
      <ul> 
        <li>Title: {{ item.title }}
          <button (click)="getTask(item._id)">Show</button>
        </li>
      </ul>
    </div>
  </div>
  <h1>Task: </h1>
  <div *ngIf="task">
    <ul> 
      <li>id: {{ task._id }} </li>
      <li>Title: {{ task.title }}</li>
      <li>Description: {{ task.description }}</li>
      <li>Completed: {{ task.completed }}</li>
    </ul>
  </div>
</div>